@import '../global/mixins.scss';

.cart-item {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr;
  grid-gap: 1rem;

  padding: 1.5rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  @include respond(tab-port) {
    grid-template-columns: 2fr 4fr;
  }

  &_img {
    overflow: hidden;
    border-radius: 2px;

    @include respond(phone) {
      grid-column: 1 / -1;
    }

    & img {
      display: block;
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center;
    }
  }

  &_title {
    & a {
      text-decoration: none;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        text-decoration: underline;
      }
    }

    @include respond(phone) {
      grid-column: 1 / -1;
    }

    & .name {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0.08rem;
      font-size: 1.5rem;
      font-weight: 100;
      color: #555;
    }

    & .qty {
      color: #555;
      font-weight: 700;
      & span {
        font-size: 1.1rem;
      }
    }
  }

  &_price {
    font-size: 2.7rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.07rem;
    color: #555;

    & span {
      font-size: 1.4rem;
      letter-spacing: 0.05rem;
    }

    @include respond(tab-port) {
      grid-column: 1 / -1;
    }
  }

  &_add-and-remove {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & button {
      padding: 0.3rem 1rem;
      cursor: pointer;
      background-color: #999;
      border: none;
      border-radius: 3px;
      color: #eee;
      font-size: 2rem;

      &:active {
        transform: translateY(0.2rem);
      }
    }

    @include respond(tab-port) {
      grid-column: 1 / -1;
    }
  }
}
