@import '../../global/mixins.scss';

// .filters {
//   @include respond(phone) {
//     display: flex;
//     margin: 0;
//   }
// }

.filter-group {
  padding: 1.5rem 1.2rem 1rem 1.2rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  @include respond(phone) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}
