.review {
  margin-top: 1.5rem;
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 1.2rem;

  & h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #555;
    font-weight: 100;
  }

  & form {
    margin-top: 0.5rem;

    & button {
      margin-top: 0.3rem;
      height: 3.5rem;
      padding: 0 3rem;
      border: 1px solid #999;
      color: #777;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        background-color: #999;
        color: #eee;
      }

      &:disabled,
      &:disabled:hover,
      &:disabled:active {
        background-color: #ccc;
        color: #555;
        border-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

.form-group {
  &:not(:last-child) {
    padding-bottom: 0.5rem;
  }
  & label {
    color: #777;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin-left: 1rem;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
  }

  & textarea,
  & select {
    font-size: 1.5rem;
    color: #555;
    letter-spacing: 0.08rem;
    padding: 0.8rem 1rem;
    background-color: #e0d4fd;
    border: none;
    border-radius: 3px;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      background-color: #d6c6fc;
    }

    &::-webkit-input-placeholder {
      color: #999;
      letter-spacing: 0.08rem;
      text-transform: capitalize;
    }
  }

  & textarea {
    resize: vertical;
  }
}

///
.review-list {
  margin-top: 1.2rem;

  & h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #555;
    font-weight: 100;
  }

  & ul {
    margin-top: 0.5rem;

    & li {
      list-style: none;

      &:not(:last-child) {
        padding-bottom: 1rem;
      }

      & strong {
        color: #777;
        font-family: 'Roboto', 'Open Sans', sans-serif;
        font-weight: 100;
        letter-spacing: 0.08rem;
        text-transform: capitalize;
      }

      & span {
        color: #555;
      }
      & p {
        margin-top: 0.3rem;
        font-size: 1.4rem;
        letter-spacing: 0.07rem;
        color: #777;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.link-btn {
  font: inherit;
  color: red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
