.not-found-page {
  color: #999;
  font-size: 6rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
