.product__details {
  margin-top: 3rem;

  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.image {
  flex-grow: 3;
  flex-basis: 25rem;

  overflow: hidden;

  & img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }
}

.details {
  flex-grow: 4;
  flex-basis: 30rem;

  & > span {
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    color: #ff5d5d;
    font-family: 'Open Sans', sans-serif;
  }

  &_title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.07rem;
    font-weight: 100;
    margin-bottom: 0.7rem;
    color: #555;
  }

  &_availability {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.07rem;
    & strong {
      color: #555;
    }
  }

  &_price {
    font-size: 2.5rem;
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.07rem;
    color: #2d3c50;
  }

  &_description {
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
    color: #777;
    font-family: 'Open Sans', sans-serif;

    & span {
      font-size: 1.6rem;
      color: #555;
    }
  }

  &_add-to-cart {
    display: flex;
    gap: 1.5rem;

    margin-top: 2rem;

    & select {
      border: none;
      border-radius: 3px;
      width: 7rem;
      height: 3.7rem;
      cursor: pointer;
      color: #333;

      &:disabled,
      &:disabled:hover,
      &:disabled:active {
        background-color: #ccc;
        color: #292929;
        border-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

///
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn {
  width: 12rem;
  height: 3.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #2d3c50;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

  &:hover {
    background: #232f3e;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
  }
}

.btn {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.text {
  text-transform: uppercase;
  transform: translateX(1rem);
  color: #eee;
  font-size: 1rem;
  font-weight: 700;
}

.icon {
  position: absolute;
  border-left: 1.5px solid #eee;
  transform: translateX(8.5rem);
  height: 2.7rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 1.6rem;
  fill: #eee;
}

///
.btn_inline {
  margin-top: 1.5rem;

  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #555;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    span {
      margin-left: 8px;
    }
  }
}
