.error {
  width: 100% !important;
  color: #712b29 !important;
  background-color: #f7dddc !important;
  border: 1px solid #f4cfce !important;
  padding: 0.7rem 2.5rem !important;
  letter-spacing: 0.05rem !important;
  font-family: 'Open Sans', sans-serif !important;
}
